<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-dark sticky-top" style="padding: 20px;">
    <a class="navbar-brand" href="/" style="color: white;"><img src="images/logo.png" alt="" width="30px" height="30px">All Saints Cathedral</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a style="color: white;" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ABOUT
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="Thechurch">The Church</a>
              <a class="dropdown-item" href="CathedralStaff">Cathedral Staff</a>
              <a class="dropdown-item" href="Vacancies">Vacancies</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a style="color:white;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              MINISTRIES
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="EducationandDiscipline">Education $ Discipleship</a>
              <a class="dropdown-item" href="EvangelismandOutreach">Evangelism $ Outreach</a>
              <a class="dropdown-item" href="LeadershipandDevelopment">Leadership Development</a>
              <a class="dropdown-item" href="PastrolcareandSacraments">Pastoral Care $ Sacraments</a>
              <a class="dropdown-item" href="Worship">Worship</a>
            </div>
        </li>
        <li class="nav-item">
          <a style="color: white;" class="nav-link" href="Schedules">SCHEDULES</a>
        </li>
        <li class="nav-item">
          <a style="color: white;" class="nav-link" href="Ctc">CTC</a>
        </li>
        <li class="nav-item">
            <a style="color: white;" class="nav-link" href="Facilities">FACILITIES</a>
        </li>
        <li class="nav-item dropdown">
          <a style="color: white;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            VIDEOS $ DOCS
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Bible Reading Plan for September to December 2020.</a>
            <a class="dropdown-item" href="#">40 Days Prayer Guide</a>
            <a class="dropdown-item" href="#">COVID19-30 Day Devotional</a>
            <a class="dropdown-item" href="#">Cathedral's Strategic Plan</a>
            <a class="dropdown-item" href="#">Video</a>
            <a class="dropdown-item" href="#">Manuscript</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
</nav>

   <div class="container-fluid" style="padding: 10px;">
       <div class="row">
           <div class="col-md-4" style="padding-bottom: 20px;">
               
                   <h1>Welcome</h1>
                   <div class="img">
                       <h3>2020 Theme</h3>
                       <h4>"Shine your Light"</h4>
                       <h4><i>Mathew 5:14</i></h4>
                           <br>
                       <div style="background-color: blue; padding: 10px; ">
                        <h4>Monday 14th September 2020</h4>
                        <h4>Following Jesus: Youth and Discipline</h4>
                        <h5>Todays' Service</h5>
                        <h5>Daily Homily On Our YouTube Channel</h5>

                        <br>
                        <h6>Clergy on duty: Rev. Joseph Kamau</h6>
                        <br>
  
                        <p>Call us on: +254 702 645 069</p>
                        <p>Prayer Line: +254 110 095 533 - 9am to 4pm</p>
                          
                       </div>
                       
                   </div>
               
           </div>

           <div class="col-md-4">
            <h1>Sunday Services</h1>
               <div>
                   <h5>LIRTUGICAL [ <a href="">Youtube</a> ]</h5>
                   <p>Service: 8:00am - <a href="">Get Liturgy For 13th September 2020 (click to view/Download)</a></p>
                   <br>
                   <h5>LIRTUGICAL [ <a href="">Youtube</a> ]</h5>
                   <p>Service: 8:00am - <a href="">Get Liturgy For 13th September 2020 (click to view/Download)</a></p>
                   <br>
                   <h5>LIRTUGICAL [ <a href="">Youtube</a> ]</h5>
                   <p>Service: 8:00am - <a href="">Get Liturgy For 13th September 2020 (click to view/Download)</a></p>
                   <br>
                   <h5>LIRTUGICAL [ <a href="">Youtube</a> ]</h5>
                   <p>Service: 8:00am - <a href="">Get Liturgy For 13th September 2020 (click to view/Download)</a></p>
                   <br>
               </div>
           </div>

         <div class="col-md-4">
           <h1>Notice Board</h1>

           <div class="row">
            <div class="col-lg-6">
              <br>
           <div class="card" style="width: 15rem; height: 13rem; padding: 2px;">
               <div class="card-body">
                 <h6 class="card-title">KMA Enrollment Training: Registration</h6>
                 
                 <span class="card-text" style="font-size: 12px;">Happening now</span>
                 <br>
                 <br>
                <div class="row">
                    <div class="col-sm-4">
                       <a href="#"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i></a>
                    </div>
  
                    <div class="col-sm-4">
                       <a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
  
                    <div class="col-sm-4">
                       <a href="#"><i class="fa fa-arrow-right"  aria-hidden="true"></i></a>
                    </div>
  
               </div>
             </div>
          </div>
  
         
       </div>

       <div class="col-lg-6">
        <br>
     <div class="card" style="width: 15rem; height: 13rem;">
         <div class="card-body">
           <h6 class="card-title">KMA Enrollment Training: Registration</h6>
           
           <span class="card-text" style="font-size: 12px;">Happening now</span>
           <br>
           <br>
          <div class="row">
              <div class="col-sm-4">
                 <a href="#"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i></a>
              </div>

              <div class="col-sm-4">
                 <a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
              </div>

              <div class="col-sm-4">
                 <a href="#"><i class="fa fa-arrow-right"  aria-hidden="true"></i></a>
              </div>

         </div>
       </div>
    </div>

   
 </div>

           </div>

           <br><br>
           <div class="row">
            <div class="col-lg-6">
              <br>
           <div class="card" style="width: 15rem; height: 13rem;">
               <div class="card-body">
                 <h6 class="card-title">KMA Enrollment Training: Registration</h6>
                 
                 <span class="card-text" style="font-size: 12px;">Happening now</span>
                 <br>
                 <br>
                <div class="row">
                    <div class="col-sm-4">
                       <a href="#"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i></a>
                    </div>
  
                    <div class="col-sm-4">
                       <a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
  
                    <div class="col-sm-4">
                       <a href="#"><i class="fa fa-arrow-right"  aria-hidden="true"></i></a>
                    </div>
  
               </div>
             </div>
          </div>
  
         
       </div>

       <div class="col-lg-6">
        <br>
     <div class="card" style="width: 15rem; height: 13rem;">
         <div class="card-body">
           <h6 class="card-title">KMA Enrollment Training: Registration</h6>
           
           <span class="card-text" style="font-size: 12px;">Happening now</span>
           <br>
           <br>
          <div class="row">
              <div class="col-sm-4">
                 <a href="#"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i></a>
              </div>

              <div class="col-sm-4">
                 <a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
              </div>

              <div class="col-sm-4">
                 <a href="#"><i class="fa fa-arrow-right"  aria-hidden="true"></i></a>
              </div>

         </div>
       </div>
    </div>

   
 </div>

           </div>


         </div>

   <br>
   <br>
   <div class="container-fluid"  style="background-color: darkslategrey; padding-left: 30px;">
     <div class="row" style="color: white;">
       <div class="col-lg-8">
         <h2 style="padding-left: 10px; padding-top: 5px;">The Children and Teens Center - CTC Project</h2>
         <h3 style="padding-left: 10px;">Introduction:</h3>
         <p>The Children and Teens Centre (CTC) is a project designed to meet the growing needs of the Children and Teenagers at the All Saints Cathedral. The CTC Vision has continued to expand from focussing on the needs of the Cathedral children to including the Children in Kenya and the world. The Cathedral has therefore embraced the larger vision of coming up with a centre that will enhance the programmes
            which will not only influence our Children but the greater society. The CTC seeks:</p>
            <ol>
              <li>To host inspiring, contextually relevant Bible based, programs that will cater for the Children and Teens needs as well as other innovative
                 weekly programs targeting children and teens beyond of the Cathedral.</li>
              <li>To facilitate training and mentorship programs to teachers, children workers 
                and care givers on discipleship, coaching and life skills.</li>
              <li>To develop wholesome and culturally relevant children’s and Teen’s content in different media 
                platforms both for local and international consumption.</li> 
              <li>To serve as a Resource Centre to the body of Christ in Kenya and beyond on the holistic nurture of children and
                 teen’s development (physical, intellectual and spiritual)</li> 
              <li>To create a real and virtual networking platform for children, teens, parents and practitioners in the children and teen’s 
                field through which best practices can be shared and mainstreamed.</li> 
              <li>To be a centre where professionals from different fields get a platform to coach and mentor young ones in a safe environment.</li>
              
              <p>We invite you to partner with us in this Project through prayers and financial support through our Mpesa
                 Paybill no. and account numbers as indicated below:</p>
            </ol>

            <br>

            <div style="background-color: white;">
               <div class="row">
                  <img src="images/pay.png" alt="payment">
                  </div>
            </div>
<br>
            <div class="">
              <div class="row">

                <div class="col-sm-6">
                  <div class="card"  style="background-color: white;">
                     <div class="card-body">
                      <h4 style="color: blue; padding-left: 10px;">Vision</h4>
                      <p style="color: black; padding-left: 10px;">Children who know Jesus Christ as Lord and Saviour growing up and serving God.</p>
                     </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="card" style="background-color: white;">
                    <div class="card-body">
                      <h4 style="color: blue; padding-left: 10px;">Mission</h4>
                      <p style="color: black; padding-left: 10px;">To lead children to the knowledge of Jesus Christ as their Lord and Saviour and to teach them to use the 
                        Word of God as the basis for their decision making in life.</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <br>
            <div class="">
              <div class="row" style="padding-bottom: 20px;">
                <div class="col-md-8">
                  <div class="card" style="background-color: thistle; padding: 0 30px 30px 10px;">
                    <div class="card-body">
                      <p style="color: black;">Register below to receive periodic project updates.</p>
                      <form action="" method="post" style="color:white;">
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Enter email address">
                          <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">REGISTER</button>
                          </span>
                        </div>
                    </form>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="card" style="background-color: white;">
                    <div class="card-body">
                      <img src="images/logo.png" style="padding-top: 3px; width: 60px; height: 40px;" alt="">
                      <h3 style="color: black;">logo</h3>
                    </div>
                  </div>
                </div>

              </div>
            </div>
       </div>

       <div class="col-lg-4">
         <!-- video1 -->
         <img src="images/church4.jpg" style="padding-top: 20px; width: 400px;" height="450px" alt="church">
       </div>

     </div>
   </div>
<br>
<br>
   <div class="container-fluid">
     <div class="row">

       <div class="col-md-3">
         <h2 style="color: blue;">The Manuscript</h2>
        <a href="#"><h3 style="color: blue;">PROVOST’S DESK: “You will be my Witnesses” By - T
          he Very Rev. Canon Sammy Wainaina</h3></a> 
          <p style="padding-left: 14px;">“That which was from the beginning, which we have heard, which we have seen with our eyes, which we have looked at and 
            our hands have touched—this we proclaim concerning the Word of life.”</p>
            <p style="padding-left: 14px;"> 16d | News & Views, Provost's Desk</p>
       </div>

       <div class="col-md-3">
         <img src="images/church5.jpg" alt="church" style="width: 320px; height: 350px; padding-top: 20px;">
       </div>

       <div class="col-md-3">
         <div class="card">
           <div class="card-body">
             <img src="images/words.jpg" style="width: 300px; height: 200px;" alt="words">
              <a href="#"><h4 >Christian Mission. By- Faith Malemba</h4></a>
                <p>In his account, Mark quotes Jesus as telling his disciples to “Go Ye and preach the gospel to all nations”. (See Mark 16:15).
                All believers are called to go to people with the gospel</p>
                <p> 16d | News & Views, Provost's Desk</p>
           </div>
         </div>
       </div>

       <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <img src="images/words.jpg" style="width: 300px; height: 200px;" alt="words">
             <a href="#"><h4 >Christian Mission. By- Faith Malemba</h4></a>
               <p>In his account, Mark quotes Jesus as telling his disciples to “Go Ye and preach the gospel to all nations”. (See Mark 16:15).
               All believers are called to go to people with the gospel</p>
               <p> 16d | News & Views, Provost's Desk</p>
          </div>
        </div>
       </div>

     </div>
   </div>

<br>

   <div class="container-fluid">
     <div class="row">

       <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <img src="images/words2.jpg" style="width: 270px; height: 150px;" alt="words">
             <a href="#"><h4>Lesson from Joseph. By- Jared <br> Ogutu</h4></a>
               <p>In the house of the wise are stores of <br> choice food and oil, 
                 but a foolish man devours all he has.</p>
                 
               <p> 16d | News & Views</p>
          </div>
        </div>
       </div>

       <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <img src="images/words2.jpg" style="width: 270px; height: 150px;" alt="words">
             <a href="#"><h4 >COVID-19 is REAL. By-Margaret Musita</h4></a>
               <p>Corona virus is invisible, so how do you fight it? The 
                 answer is you fight it by putting on the full armour of God...</p>
               <p> 16d | News & Views</p>
          </div>
        </div>
       </div>

       <div class="col-md-3">
         <img src="images/church6.jpg" style="width: 320px; height: 300px; padding-top: 10px;" alt="church">
       </div>

       <div class="col-md-3">
         <h4 style="color: blue;">In The Manuscript</h4>
         <!-- libe color should be blue -->
         <hr style="color: blue; line-height: 2px;">
         <p>PAROCHIAL CHURCH COUNCIL</p>
         <p>PROVOST'S DESK</p>
         <p>NEWS & VIEWS</p>
         <p>GUEST POSTS</p>
       </div>

     </div>
   </div>

   <br>

   <div class="container-fluid" style="background-color:blue;">

    <h3 style="color: white;">Recent Video</h3>

     <div class="row">

      <div class="col-lg-3">
        <div style="background-color: white;">
          <video src="/images/vid1.mkv" style="width: 307px;" controls></video>
          <!-- <img src="images/pastor.jpg" style="width: 307px;" alt="pastor"> -->
          <br>
          <h4 style="color: black; padding-left: 15px;">Sharing Christ by Francis Thiiru | <br> 16th September 2020</h4>
          <br>
          <br>
          <br>
          <p style="color: black; padding-left: 15px;">14h</p>
        </div>

   </div>

       <div class="col-lg-3">
        <div style="background-color: white;">
          <video src="/images/vid1.mkv" style="width: 307px;" controls></video>
          <!-- <img src="images/pastor.jpg" style="width: 307px;" alt="pastor"> -->
          <br>
          <h4 style="color: black; padding-left: 15px;">Sharing Christ by Francis Thiiru | <br> 16th September 2020</h4>
          <br>
          <br>
          <br>
          <p style="color: black; padding-left: 15px;">14h</p>
        </div>

   </div>

   <div class="col-lg-3">
    <div style="background-color: white;">
      <video src="/images/vid1.mkv" style="width: 307px;" controls></video>
      <!-- <img src="images/pastor.jpg" style="width: 307px;" alt="pastor"> -->
      <br>
      <h4 style="color: black; padding-left: 15px;">Sharing Christ by Francis Thiiru | <br> 16th September 2020</h4>
      <br>
      <br>
      <br>
      <p style="color: black; padding-left: 15px;">14h</p>
    </div>

</div>

<div class="col-lg-3">
  <div style="background-color: white;">
    <video src="/images/vid1.mkv" style="width: 307px;" controls></video>
    <!-- <img src="images/pastor.jpg" style="width: 307px;" alt="pastor"> -->
    <br>
    <h4 style="color: black; padding-left: 15px;">Sharing Christ by Francis Thiiru | <br> 16th September 2020</h4>
    <br>
    <br>
    <br>
    <p style="color: black; padding-left: 15px;">14h</p>
  </div>

</div>



     </div>
   </div>

   <div class="">
   <footer style="background-color: darkslategrey; color: white; padding: 20px 60px 0 60px;">
      <div class="row" style="padding-bottom: 20px;">

        <div class="col-md-3">
          <img src="images/logo.png" style="width: 100px; height: 100px; padding-left: 25px; padding-top: 15px;" alt="">
          <h3 style="color: white;">All Saints Cathedral</h3>
          <p style="color: white; padding-left: 15px;">&copy;2020 - All Rights Reserved</p>
        </div>

        <div class="col-md-3">
          <h4>Vision and Mission</h4>
          <p>Cathedral Vision</p>
          <p>A Christ-Centered Cathedral.</p>
          <br>
          <p>Cathedral Mission Statement</p>
          <p>To transform people through the word of God.</p>
          <h4>Making payments at the Cathedral</h4>

          <ol>
            <li>Hire of Halls & CTC Payments – Paybill No. 303035 Acct: Either Hire of T
              rinity/KG for hiring of halls and kindergarten or your Phone No. for CTC payments.</li>
            <br>
            <li>All other Payments – Paybill No. 303036 Acct: Tithe, offertory, Baptism, Confirmation,Organ Fund, etc.</li>
            <br>
            <li>Bank Payment Details: A/C Name: All Saints' Cathedral Church ABSA Bank, Queensway Branch A/C No. 0941048099</li>
          </ol>
        </div>

        <div class="col-md-3">
          <h4>Post Office</h4>
          <p>P.O Box 40539 - 00100</p>
          <p>Nairobi, Kenya</p>
          <br>
          <p>Telephone</p>
          <p>+254 702 645 069.</p>
          <p>0110-095-533 (prayer line) or</p>
          <p> prayerline@allsaintsnairobi.org</p>
          <p>+254 728 271 715 (Facilities bookings)</p>
        </div>

        <div class="col-md-3">
          <h4>On social media</h4>
           <br>
           <br>
           <!-- icon for facebook -->
           <br>

          <p>Email</p>
          <p>info@allsaintsnairobi.org</p>
          <br>
          <p>External Links</p>
           <a href="#"><p style="color: blue;">Visit All Saints' Cathedral Schools</p></a>
        </div>

      </div>
  </footer>
</div>
</body>
</html>