<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Evangelism and Outreach</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark" style="padding: 20px;">
    <a class="navbar-brand" href="/" style="color: white;"><img src="images/logo.png" alt="" width="30px" height="30px">All Saints Cathedral</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a style="color: white;" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ABOUT
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="Thechurch">The Church</a>
              <a class="dropdown-item" href="CathedralStaff">Cathedral Staff</a>
              <a class="dropdown-item" href="Vacancies">Vacancies</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a style="color:white;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              MINISTRIES
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="EducationandDiscipline">Education $ Discipleship</a>
              <a class="dropdown-item" href="EvangelismandOutreach">Evangelism $ Outreach</a>
              <a class="dropdown-item" href="LeadershipandDevelopment">Leadership Development</a>
              <a class="dropdown-item" href="PastrolcareandSacraments">Pastoral Care $ Sacraments</a>
              <a class="dropdown-item" href="Worship">Worship</a>
            </div>
        </li>
        <li class="nav-item">
          <a style="color: white;" class="nav-link" href="Schedules">SCHEDULES</a>
        </li>
        <li class="nav-item">
          <a style="color: white;" class="nav-link" href="Ctc">CTC</a>
        </li>
        <li class="nav-item">
            <a style="color: white;" class="nav-link" href="Facilities">FACILITIES</a>
        </li>
        <li class="nav-item dropdown">
          <a style="color: white;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            VIDEOS $ DOCS
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Bible Reading Plan for September to December 2020.</a>
            <a class="dropdown-item" href="#">40 Days Prayer Guide</a>
            <a class="dropdown-item" href="#">COVID19-30 Day Devotional</a>
            <a class="dropdown-item" href="#">Cathedral's Strategic Plan</a>
            <a class="dropdown-item" href="#">Video</a>
            <a class="dropdown-item" href="#">Manuscript</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
</nav>

    <img src="images/church5.jpg" alt="church" height="300px" width="100%" style="padding-top: 30px;">

    <div class="container" style="transform: translate(0, -140px);">
        <p style="font-size: 35px; background-color: transparent; color: white;">Evangelism and Outreach</p>
    </div>

    <div class="container" style="background-color: white; transform: translate(0, -130px);">
        <div class="row">
            <div class="col-lg-8">
                <br>
                <h4>Main Sanctuary</h4>
                <p>DR. Johann Ludwig Krapf, a German Lutheran, sent by the Church Missionary Society (CMS) arrived in Mombasa in the year 1844. Dr. Krapf established a mission station at Rabai some 15 miles inland.The Rt. Rev. William G. Peel, the first Bishop of the Diocese of Mombasa arrived in Nairobi at the same time as the uganda railway in 1900.</p>
                <p>He conducted the first Anglican service in Nairobi attended by the railway officials of East Africa. Two years later (1902) the first European Chaplain, the Rev. P.A. Bennet arrived to serve the growing European community in Nairobi and the surrounding areas.</p>
                <p>The Foundation Stone of the first St. Stephen’s Church built of wood and corrugated iron was laid by Bishop Peel in December 1903 and the Church was consecrated in 1904; it stood near where Parliament buildings now stand. This church was moved to Pumwani in 1922 and re-dedicated to St. John. Another St. Stephen’s was built of stone next to the first St. Stephen’s where the present Chamber of Parliament is now. It was demolished to make way for the extensions to Parliament in 1963.
                     Because it was so strongly built dynamite had to be used to bring it down.</p>
                <p>The need for a larger church was realized and under the Revd. W.M Falloon money was steadily collected. During this time the original church of St. Mark’s Parklands was built in 1907. This was behind the present Parklands Police station.</p>
                

                
            </div>

            <div class="col-lg-4">

                <br>

                    <hr style="background-color: blue; height: 3px;">
                    <h6 style="color:blue;">MORE INFORMATION</h6>
                    <a href="MainSanctuaryThings.html"><span style="color: gray;"><b>Other Artifacts</b></span></a>
                    <br>
                    <a href="MainSanctuaryThings.html"><span style="color: gray;">The Chapter House</span></a>
                    <br>
                    <a href="MainSanctuaryThings.html"><span style="color: gray;">South aisle stained glass windows</span></a>
                    <br>
                    <a href="MainSanctuaryThings.html"><span style="color: gray;">North aisle stained glass windows</span></a>
                    <br>
                    <a href="MainSanctuaryThings.html"><span style="color: gray;">Stones from other cathedrals</span></a>
                    <br>
                    <a href="MainSanctuaryThings.html"><span style="color: gray;">The Rose Window</span></a>
                    <br>
                    <a href="MainSanctuaryThings.html"><span style="color: gray;">The windows of the chancel or sanctuary</span></a>
                    <br>
                    <a href="MainSanctuaryThings.html"><span style="color: gray;">The Largest cross at the east wall</span></a>
                    <br>
                    <a href="MainSanctuaryThings.html"><span style="color: gray;">The Bishops’ and Canons’ stalls</span></a>
                    <br>
                    <a href="MainSanctuaryThings.html"><span style="color: gray;">The Chancel</span></a>
                    <br>
                    <a href="MainSanctuaryThings.html"><span style="color: gray;">The Organ</span></a>
                    <br>
                    <a href="MainSanctuaryThings.html"><span style="color: gray;">The Transept</span></a>
                    <br>
                    <a href="MainSanctuaryThings.html"><span style="color: gray;">The Nave</span></a>
                    <br>
                    <a href="MainSanctuaryThings.html"><span style="color: gray;">The West Door</span></a>


                    
                <br>

                <hr style="background-color: blue; height: 3px;">
                <h6 style="color:blue;">FACILITIES</h6>
                <a href="MainSanctuary.html"><span style="color: gray;"><b>Main Sanctuary</b></span></a>
                <br>
                <a href="Trinity.html"><span style="color: gray;">Trinity Center</span></a>
                

            </div>
        </div>
    </div>

    <div class="">
        <footer style="background-color: darkslategrey; color: white; padding: 20px 60px 0 60px;">
           <div class="row" style="padding-bottom: 20px;">
     
             <div class="col-md-3">
               <img src="images/logo.png" style="width: 100px; height: 100px; padding-left: 25px; padding-top: 15px;" alt="">
               <h3 style="color: white;">All Saints Cathedral</h3>
               <p style="color: white; padding-left: 15px;">&copy;2020 - All Rights Reserved</p>
             </div>
     
             <div class="col-md-3">
               <h4>Vision and Mission</h4>
               <p>Cathedral Vision</p>
               <p>A Christ-Centered Cathedral.</p>
               
               <p>Cathedral Mission Statement</p>
               <p>To transform people through the word of God.</p>
               <h4>Making payments at the Cathedral</h4>
     
               <ol>
                 <li>Hire of Halls & CTC Payments – Paybill No. 303035 Acct: Either Hire of T
                   rinity/KG for hiring of halls and kindergarten or your Phone No. for CTC payments.</li>
                 <br>
                 <li>All other Payments – Paybill No. 303036 Acct: Tithe, offertory, Baptism, Confirmation,Organ Fund, etc.</li>
                 <br>
                 <li>Bank Payment Details: A/C Name: All Saints' Cathedral Church ABSA Bank, Queensway Branch A/C No. 0941048099</li>
               </ol>
             </div>
     
             <div class="col-md-3">
               <h4>Post Office</h4>
               <p>P.O Box 40539 - 00100</p>
               <p>Nairobi, Kenya</p>
               <br>
               <p>Telephone</p>
               <p>+254 702 645 069.</p>
               <p>0110-095-533 (prayer line) or</p>
               <p> prayerline@allsaintsnairobi.org</p>
               <p>+254 728 271 715 (Facilities bookings)</p>
             </div>
     
             <div class="col-md-3">
               <h4>On social media</h4>
                <br>
                <br>
                <!-- icon for facebook -->
                <br>
     
               <p>Email</p>
               <p>info@allsaintsnairobi.org</p>
               <br>
               <p>External Links</p>
                <a href="#"><p style="color: blue;">Visit All Saints' Cathedral Schools</p></a>
             </div>
     
           </div>
       </footer>
     </div>
</body>
</html>