<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Education and Discipline</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark" style="padding: 20px;">
    <a class="navbar-brand" href="/" style="color: white;"><img src="images/logo.png" alt="" width="30px" height="30px">All Saints Cathedral</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a style="color: white;" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ABOUT
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="Thechurch">The Church</a>
              <a class="dropdown-item" href="CathedralStaff">Cathedral Staff</a>
              <a class="dropdown-item" href="Vacancies">Vacancies</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a style="color:white;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              MINISTRIES
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="EducationandDiscipline">Education $ Discipleship</a>
              <a class="dropdown-item" href="EvangelismandOutreach">Evangelism $ Outreach</a>
              <a class="dropdown-item" href="LeadershipandDevelopment">Leadership Development</a>
              <a class="dropdown-item" href="PastrolcareandSacraments">Pastoral Care $ Sacraments</a>
              <a class="dropdown-item" href="Worship">Worship</a>
            </div>
        </li>
        <li class="nav-item">
          <a style="color: white;" class="nav-link" href="Schedules">SCHEDULES</a>
        </li>
        <li class="nav-item">
          <a style="color: white;" class="nav-link" href="Ctc">CTC</a>
        </li>
        <li class="nav-item">
            <a style="color: white;" class="nav-link" href="Facilities">FACILITIES</a>
        </li>
        <li class="nav-item dropdown">
          <a style="color: white;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            VIDEOS $ DOCS
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Bible Reading Plan for September to December 2020.</a>
            <a class="dropdown-item" href="#">40 Days Prayer Guide</a>
            <a class="dropdown-item" href="#">COVID19-30 Day Devotional</a>
            <a class="dropdown-item" href="#">Cathedral's Strategic Plan</a>
            <a class="dropdown-item" href="#">Video</a>
            <a class="dropdown-item" href="#">Manuscript</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
</nav>

    <img src="images/church5.jpg" alt="church" height="300px" width="100%" style="padding-top: 30px;">

    <div class="container" style="transform: translate(0, -140px);">
        <p style="font-size: 35px; background-color: transparent; color: white;">The Children and Teens Center - CTC Project</p>
    </div>

    <div class="container" style="background-color: white; transform: translate(0, -130px);">
        <div class="row">
            <div class="col-lg-8">
                <br>
                <img src="images/church3.jpg" alt="" width="100%" height="400px">
                <br>
                <br>
                <img src="images/church1.jpg" alt="" width="100%" height="400px">
                <br>
                <br>
                <img src="images/church2.jpg" alt="" width="100%" height="400px">
                <br>
                <br>
                <img src="images/church5.jpg" alt="" width="100%" height="400px">
                </div>
              
            <div class="col-lg-4">
                <hr style="background-color: blue; height: 3px;">
                <h6 style="color:blue;">MORE INFORMATION</h6>
                  <a href="PlansandBrochure.html"><span style="color: gray;">Plans</span></a>
                <br>
                <a href="PlansandBrochure.html"><span style="color: gray;">Brochure</span></a>
                <br>
                

                <br>

                    <hr style="background-color: blue; height: 3px;">
                    <h6 style="color:blue;">PHOTOS</h6>
                    <a href="Pictorial.html"><span style="color: gray;">Pictorial Update Brief as at 11th August 2020</span></a>
                    <br>
                    <a href="Pictorial.html"><span style="color: gray;">Pictorial Brief on Key Milestones of the Project</span></a>
                    <br>
                    <a href="Pictorial.html"><span style="color: gray;">Artistic impression of the Deaf Chapel</span></a>
                    <br>
                    <a href="Pictorial.html"><span style="color: gray;">Artistic impression of the Teens Chapel</span></a>
                    <br>
                    <a href="Pictorial.html"><span style="color: gray;">Artistic impression of the Children's Chapel</span></a>

  
                <br>

                <hr style="background-color: blue; height: 3px;">
                <h6 style="color:blue;">VIDEOS</h6>
                <a href="Graphical3D.html"><span style="color: gray;">Graphical 3D Animation of the Finished CTC</span></a>
                <br>
               
            </div>
        </div>
    </div>



    <div class="">
        <footer style="background-color: darkslategrey; color: white; padding: 20px 60px 0 60px;">
           <div class="row" style="padding-bottom: 20px;">
     
             <div class="col-md-3">
               <img src="images/logo.png" style="width: 100px; height: 100px; padding-left: 25px; padding-top: 15px;" alt="">
               <h3 style="color: white;">All Saints Cathedral</h3>
               <p style="color: white; padding-left: 15px;">&copy;2020 - All Rights Reserved</p>
             </div>
     
             <div class="col-md-3">
               <h4>Vision and Mission</h4>
               <p>Cathedral Vision</p>
               <p>A Christ-Centered Cathedral.</p>
               
               <p>Cathedral Mission Statement</p>
               <p>To transform people through the word of God.</p>
               <h4>Making payments at the Cathedral</h4>
     
               <ol>
                 <li>Hire of Halls & CTC Payments – Paybill No. 303035 Acct: Either Hire of T
                   rinity/KG for hiring of halls and kindergarten or your Phone No. for CTC payments.</li>
                 <br>
                 <li>All other Payments – Paybill No. 303036 Acct: Tithe, offertory, Baptism, Confirmation,Organ Fund, etc.</li>
                 <br>
                 <li>Bank Payment Details: A/C Name: All Saints' Cathedral Church ABSA Bank, Queensway Branch A/C No. 0941048099</li>
               </ol>
             </div>
     
             <div class="col-md-3">
               <h4>Post Office</h4>
               <p>P.O Box 40539 - 00100</p>
               <p>Nairobi, Kenya</p>
               <br>
               <p>Telephone</p>
               <p>+254 702 645 069.</p>
               <p>0110-095-533 (prayer line) or</p>
               <p> prayerline@allsaintsnairobi.org</p>
               <p>+254 728 271 715 (Facilities bookings)</p>
             </div>
     
             <div class="col-md-3">
               <h4>On social media</h4>
                <br>
                <br>
                <!-- icon for facebook -->
                <br>
     
               <p>Email</p>
               <p>info@allsaintsnairobi.org</p>
               <br>
               <p>External Links</p>
                <a href="#"><p style="color: blue;">Visit All Saints' Cathedral Schools</p></a>
             </div>
     
           </div>
       </footer>
     </div>
    
</body>
</html>